.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5rem 10rem;
    column-gap: 0.5rem;
}

.grid__img img {
    width: 35rem;
}

.active {
    color: #e03c31;
}

.bar {
    display: flex;
    justify-content: start;
    position: relative;
}

.bar:hover {
    cursor: pointer;
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
}

.bar__title {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: start;
    letter-spacing: 1px;
    margin: 0.5rem;
}

.bar__description {
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: start;
    color: #424242;
}

.border {
    border: 1px solid grey;
    margin: 1rem 0;
}

.active {
    color: #e03c31;
}

@media screen and (max-width: 768px) {
    .grid-container {
        margin: 2rem auto;
        grid-template-columns: 1fr;
    }

    .bar__title {
        font-size: 1.6rem;
    }

    .bar__description {
        font-size: 1.6rem;
    }
}
